/*font of the navbar*/
#navbarFont {
  font-weight: bold;
  color: black;
}


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: white;
        margine: white;
        border-radius: 13px;
        border-spacing: 0;
        border-bottom: 1px
        border-bottom: none;
        color: white;
        position: sticky;
        fixed_header: true;

  }

  tr:hover td {
          background-color: #9f9fdf;
        }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        fixed_header: true;
    }

    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      fixed_header: true;

    }

    .input[type=text] {
      width: 130px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      border: 0;
      overflow: hidden;
  }

  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
      width: 100%;
      border:0;
  }

  #title {
    max-width: 150px;
  }

  #publisher {
    max-width: 150px;
  }

  th {
    background-color: #9f9fdf;
  }

  tr:nth-child(even) {
    background-color: #white;
  }

  #navbarFont {
    font-weight: bold;
    color: white;
  }

  h1 {
    color: white
  }

  #tag {
    color: white;
  }
